

/* HEADER CSS */





/* header */
header 
{
    /* background-color: #444; */
    padding-top: 10px;
}

header .logo
{
    width: 100px;
    height: 50px;
    display: inline-block;
    
}

header .logo > img
{
    width: 100%;
    height: 100%;
}
/* full width navbar */
.fullw-nav
{
    display: none
}

/* query */
header .query
{
    float: right;
    /* width: 500px; */
}

header .query .media-s
{
    margin-top: 15px;
}

header .query .media-s li
{
    float: left;
    margin-right: 5px;
}

header .query .media-s li a 
{
    text-decoration: none;
    color: white;
  
    
     padding-right: 18px; 
    display: block;
    /* line-height: 2.2; */
    text-align: center;
    transition: all 0.5s ease-in-out;
}

header .query .media-s li a:hover
{
    background: #56A4CA;
}
header .query select
{
    float: right;
    height: 25px;
    margin-top: 1px;
}



/* search input */

header .query form
{
    position: relative;
    margin-top: 10px;
}

header .query form i
{
    position: absolute;
    top: 7px;
    left: 7px;
    font-size: 20px;
}

header .query form > input
{
    width: 250px;
    padding-left: 30px;
    height: 35px;
    
}
/* navbar */
header .navbar
{
    background: #FFFFFF;
    border: 0;
    border-radius: 0;
    min-height: 0;
    width: 100%;
    color:black;
}

header .navbar ul
{
    
    margin-bottom: 0;
    margin: auto;
    /* width: 511px; */
}

header .navbar ul li
{
    float: left;
    transition: all 0.5s ease-in-out;
    
}

header .navbar ul li a
{
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    text-align: center;
    text-transform: capitalize;
    transition: all 0.5s ease-in-out;
    font-weight: 500;
}
header .navbar ul li.active a,
header .navbar ul li a:hover
{
    /* background-color: black; */
}



@media (max-width:600px)
{
    
    /* full width navbar */
    .fullw-nav
    {
        display: block;
        float: right;
        margin-top: 25px;
        font-size: 30px;
        color: white;
        cursor: pointer;
    }
    
    /* query */
    header .query
    {
        float: none;
        /*width: 250px;*/
        width: 100%;
        margin: auto;
        display: none;
    }

    /* search input */

    header .query form
    {
        margin-top: 20px;
        margin-bottom: 15px;
    }

    header .query form > input
    {
        width: 100%;

    }
    
    /* navbar */
    header .navbar
    {
        background: #444;
        border: 0;
        border-radius: 0;
        min-height: 0;
        display: none;
    }

    header .navbar ul
    {
        text-align: center;
        margin-bottom: 0;
        width: 100%;
    }

    header .navbar ul li
    {
        display: block;
        float: none;

    }
    
    header .navbar ul li.active a,
    header .navbar ul li:hover
    {
        background: #56A4CA;
        color: black;
    }
    header .navbar ul li a
    {
        font-size: 14px;
    }
    header .navbar ul li a:hover
    {
        background-color: transparent;
        color: black;
    }

    

    
}



/* Search bar (header) */


section {
  display: inline-block;
  width: 100%;
  margin-bottom: 40px;
  padding-top: 20px;
}


a {
  transition: all 0.3s ease;
}


/* .section-title {
  font-size: 30px;
  line-height: 34px;
  color: #000;
  text-align: center;
} */



.title-sm {
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
}





.two-col-content {
  max-width: 90%;
  margin: 0 auto;
}
.two-col-content p {
  margin-bottom: 40px;
}

.each-reason {
  margin: 16px 0 40px;
}
.each-reason p {
  font-size: 14px;
  color: #fff;
}


.txt-bg {
  position: relative;
}
.txt-bg::after {
  position: absolute;
  top: -28px;
  right: 0;
  left: 0;
  bottom: 0;
  font-size: 55px;
  color: #ededed;
  z-index: -1;
  content: "01.";
  opacity: 1;
}

.each-detail .title-sm {
  color: #000;
}
.each-detail span {
  font-size: 14px;
}







@media (min-width: 1200px) {
  .container {
    max-width: 1024px;
  }
}
@media (max-width: 769px) {
  section {
    margin-bottom: 15px;
  }

  p {
    font-size: 14px;
    line-height: 20px !important;
  }

  

  .pr-0 {
    padding-right: 15px !important;
  }

  .pl-0 {
    padding-left: 15px !important;
  }

  .px-0 {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }

 
  .section-title {
    font-size: 24px;
    line-height: 28px;
  }

  .inner-title {
    font-size: 22px;
  }

  .two-col-content {
    max-width: 90%;
    margin: 0 auto;
    padding: 20px 0;
  }

  .title-sm {
    font-size: 14px;
  }

  .each-detail span {
    font-size: 12px;
  }

  .each-reason {
    margin: 15px 0 20px;
  }
}
@media (max-width: 480px) {
 

 

  .my-5 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
  }

  .section-title {
    font-size: 20px;
  }

  .each-detail {
    margin-bottom: 20px;
  }

 
}



/* slider css */



.slides {
    padding: 0;
    width: 100%;
    height: 450px;
    display: block;
    margin: 0 auto;
    position: relative;
}

/* .slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
} */

.slides input { display: none; }

.slide-container { display: block; }

.slide {
    top: 0;
    opacity: 0;
    width: 100%;
    height: 420px;
    display: block;
    position: absolute;

    /* transform: scale(0); */

    /* transition: all .7s ease-in-out; */
}

.slide img {
    width: 100%;
    height: 100%;
    max-height: 500px;
}

.nav label {
    width: 100px;
    height: 100%;
    /* max-height: 500px; */
    /* display: none; */
    position: absolute;

	  opacity: 0;
    z-index: 9;
    /* cursor: pointer; */

    /* transition: opacity .2s; */

    color: #FFF;
    font-size: 50pt;
    text-align: center;
    line-height: 380px;
    font-family: "Varela Round", sans-serif;
    /* background-color: rgba(255, 255, 255, .3); */
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover + .nav label { opacity: 0.5; }

.nav label:hover { opacity: 1; }

.nav .next { right: 0; }

input:checked + .slide-container  .slide {
    opacity: 1;

    /* transform: scale(1); */

    /* transition: opacity 1s ease-in-out; */
}

input:checked + .slide-container .nav label { display: block; }

.nav-dots {
	width: 100%;
	bottom: 10px;
	height: 11px;
	display: block;
	position: absolute;
	text-align: center;
}

.nav-dots .nav-dot {
	top: -5px;
	width: 10px;
	height: 10px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: #6DD0F7;
}

.nav-dots .nav-dot:hover {
	cursor: pointer;
	background-color: rgba(95, 166, 233, 0.8);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3
 {
	/* background: #FFFFFF; */

  background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #707070;
opacity: 1;
}



/* cards-section 1 css */



/* :root {
  --padding: 1rem;
} */

.card1-container1 {
  margin: 6rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  align-items: center;
  /* padding: 40px; */
}

.card1 {
  background: white;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, .25);
  border-radius: .50rem;
  overflow: hidden;
  max-width: 300px;
height: 270px;
}

.card1-header1 .header1-title {
  padding: 3px ;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 1rem;text-align: center;
  font: normal normal 600 20px/26px Josefin Sans;
  letter-spacing: 0.36px;
  color: #333333;
  text-transform: capitalize;
  opacity: 1;
}

.card1-body {
  color: rgb(173, 173, 173);
  font-size: .9rem;
  padding: 0 var(--padding);
  margin-bottom: 1rem;
}

.card1-footer {
  padding: var(--padding);
  padding-top: 0;
  margin-left: 18%;
}

.btn {
  background: #0A54A6 0% 0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 1;
  padding: .75em 1.5em;

  /* transition: background-color 200ms ease; */
  font-weight: 500;
  margin-right: 5px;
  cursor: pointer;
  color: #FFFFFF;
  letter-spacing: 0px;
  justify-items: center;

}



.card1-header1.header1-img {
  padding: 0;
  overflow: hidden;
}

.card1-header1.header1-img > img {
  display: block;
  width: 100%;
  max-height: 150px;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  object-position: center;
  transition: filter 200ms ease-in-out;
} 

/* .card:hover > .card-header.header-img > img {
	filter: brightness(0.9);
} */

/* FOOTER CSS */

/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap'); */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Poppins" , sans-serif; */
}
body{
  min-height: 100vh;
  width: 100%;
  /* background: #EEECEB; */
}
footer{
  /* position: fixed; */
  background: #F8F8F833 0% 0% no-repeat padding-box;
box-shadow: 0px 0px 6px #00000024;

  width: 100%;
  bottom: 0;
  left: 0;
}
footer::before{
  content: '';
  position: absolute;
  left: 0;
  top: 100px;
  height: 1px;
  width: 100%;
}
footer .content{
  max-width: 1250px;
  margin: auto;
  padding: 30px 40px 40px 40px;
}
footer .content .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  color: #fff;
}

.content .top .media-icons{
  display: flex;
  margin-left: -4%;
}
.content .top .media-icons a{
  height: 35px;
  width: 35px;
  margin: 0 8px;
  border-radius: 50%;
  text-align: center;
  line-height: 35px;
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  transition: all 0.4s ease;
}
.top .media-icons a:nth-child(1){
  background: #4267B2;
}
.top .media-icons a:nth-child(1):hover{
  color: #4267B2;
  background: #fff;
}
.top .media-icons a:nth-child(3){
  background: #1DA1F2;
}
.top .media-icons a:nth-child(3):hover{
  color: #1DA1F2;
  background: #fff;
}
.top .media-icons a:nth-child(2){
  background: #E1306C;
}
.top .media-icons a:nth-child(2):hover{
  color: #E1306C;
  background: #fff;
}


footer .content .link-boxes{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer .content .link-boxes .box{
  width: calc(100% / 4 - 10px);
}
.content .link-boxes .box .link_name{
    
    font: normal normal bold 22px/27px Josefin Sans;
    letter-spacing: 0.66px;
    color: #141414;
    text-transform: capitalize;
    opacity: 1;
  /* font-size: 18px; */
  /* font-weight: 500; */
  margin-bottom: 10px;
  position: relative;
  opacity: 1;
}
.link-boxes .box .link_name::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 35px;
  background: #fff;
}
.content .link-boxes .box li{
  margin: 6px 0;
  list-style: none;
}
.content .link-boxes .box li a{
    color: #141414;
    font: normal normal normal 16px/22px Josefin Sans;
    letter-spacing: 0.27px;
  /* font-weight: 400; */
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.4s ease
}
.content .link-boxes .box li a:hover{
  opacity: 1;
  text-decoration: underline;
}
.content .link-boxes .input-box{
  margin-right: 55px;
}
.link-boxes .input-box input{
  height: 40px;
  width: calc(100% + 55px);
  outline: none;
  border: 2px solid #AFAFB6;
  background: #140B5C;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  color: #fff;
  margin-top: 5px;
}
.link-boxes .input-box input::placeholder{
  color: #AFAFB6;
  font-size: 16px;
}
.link-boxes .input-box input[type="button"]{
  background: #fff;
  color: #140B5C;
  border: none;
  font-size: 18px;
  font-weight: 500;
  margin: 4px 0;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.4s ease;
}
.input-box input[type="button"]:hover{
  opacity: 1;
}
footer .bottom-details{
  width: 100%;
  background: #4FB8EA33 0% 0% no-repeat padding-box;
  opacity: 1;
}
footer .bottom-details .bottom_text{
  max-width: 1250px;
  margin: auto;
  padding: 20px 40px;
  display: flex;
  justify-content: center;
}
.bottom-details .bottom_text span,
.bottom-details .bottom_text a{
    font: normal normal normal 18px/21px Josefin Sans;
  font-size: 14px;
  font-weight: 300;
  color: #333333;
  opacity: 0.8;
  text-decoration: none;
}
.bottom-details .bottom_text a:hover{
  opacity: 1;
  text-decoration: underline;
}
.bottom-details .bottom_text a{
  margin-right: 10px;
}
@media (max-width: 900px) {
  footer .content .link-boxes{
    flex-wrap: wrap;
  }
  footer .content .link-boxes .input-box{
    width: 40%;
    margin-top: 10px;
  }
}
@media (max-width: 700px){
  footer{
    position: relative;
  }
  .content .top .logo-details{
    font-size: 26px;
  }
  .content .top .media-icons a{
    height: 35px;
    width: 35px;
    font-size: 14px;
    line-height: 35px;
  }
  footer .content .link-boxes .box{
    width: calc(100% / 3 - 10px);
  }
  footer .content .link-boxes .input-box{
    width: 60%;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a{
    font-size: 12px;
  }
}
@media (max-width: 520px){
  footer::before{
    top: 145px;
  }
  footer .content .top{
    flex-direction: column;
  }
  .content .top .media-icons{
    margin-top: 16px;
  }
  footer .content .link-boxes .box{
    width: calc(100% / 2 - 10px);
  }
  footer .content .link-boxes .input-box{
    width: 100%;
  }
}




/* slider css */




label{cursor: pointer;}

/* Contenedor para centrar */
.ContainerCenter{
  display: flex;
  align-items: center;
  flex-direction: column;
}
/* Input */
input{display: none}



/* Slider */
.Carrusels{
  height: 300px;
  width: 500px;
  position: relative;
  overflow-x: hidden;
}
.Carrusel{
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: cover;
  transition: all .5s ease;
}
/* Configuracion de elementos individuales */
.Carrusels .Carrusel:nth-child(1) {background-image: url(https://unsplash.it/500/300/);}
.Carrusels .Carrusel:nth-child(2) {background-image: url(https://unsplash.it/501/301/);}
.Carrusels .Carrusel:nth-child(3) {background-image: url(https://unsplash.it/502/302/);}
/* Estado 1 */
#Slider1:checked ~ .Carrusels .Carrusel:nth-of-type(1) {transform: translate(0%, 0);}
#Slider1:checked ~ .Carrusels .Carrusel:nth-of-type(2) {transform: translate(100%, 0);}
#Slider1:checked ~ .Carrusels .Carrusel:nth-of-type(3) {transform: translate(200%, 0);}
/* Estado 2 */
#Slider2:checked ~ .Carrusels .Carrusel:nth-of-type(1) {transform: translate(-100%, 0);}
#Slider2:checked ~ .Carrusels .Carrusel:nth-of-type(2) {transform: translate(0%, 0);}
#Slider2:checked ~ .Carrusels .Carrusel:nth-of-type(3) {transform: translate(100%, 0);}
/* Estado 3 */
#Slider3:checked ~ .Carrusels .Carrusel:nth-of-type(1) {transform: translate(-200%, 0);}
#Slider3:checked ~ .Carrusels .Carrusel:nth-of-type(2) {transform: translate(-100%, 0);}
#Slider3:checked ~ .Carrusels .Carrusel:nth-of-type(3) {transform: translate(0%, 0);}


/* Flechas */
.Carrusels .ArrowLeft, .Carrusels .ArrowRight{
  position: absolute;
  height: 100%;
  width: 2em;
  align-items: center;
  justify-content: center;
  display: none;
  user-select: none;
}
.Carrusels .ArrowLeft{left: 0px;}
.Carrusels .ArrowRight{right: 0px;}
/* Configuracion de flechas individuales */
#Slider1:checked ~ .Carrusels .Arrow1{display: flex;}
#Slider2:checked ~ .Carrusels .Arrow2{display: flex;}
#Slider3:checked ~ .Carrusels .Arrow3{display: flex;}


/* Selectores */
.Selectors {
  width: 60px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}
.Selectors .Selector {
  background-color: #FFF;
  height: 10px;
  width: 10px;
  display: block;
  border-radius: 5px;
}
/* Condicionales para botón inferior */
#Slider1:checked ~ .Selectors .Selector:nth-of-type(1) {background-color: #999999;}
#Slider2:checked ~ .Selectors .Selector:nth-of-type(2) {background-color: #999999;}
#Slider3:checked ~ .Selectors .Selector:nth-of-type(3) {background-color: #999999;}